@media only screen and (min-width: 917px) {
html {
	margin:0px;
}
body {
	font-family: 'Open Sans', sans-serif;
	color: #000;
	font-size:16px;
	background-color:#fff;
	margin: 0px;
}

#header {
	color: #fff;
	min-width: 100%;
	border-bottom: 1px dashed #fff;
	background: #3d4898 url('/design/blue_grr.jpg') repeat-x center center;
	display: block;
	padding: 12px 0 5px;
	position: fixed;
}

#page_title {
	padding-left: 20px;
	font-size: 20px;
	float: left;
}

#main_menu .separator {
	margin-top: 8px;	
}

#main_menu{
	margin-left:30%;
	vertical-align: middle;
	-webkit-margin-before: 0em;
}

#main_menu li {
	padding: 4px;
	display: inline;
}

.separator {
    width: 1px;
    height: 7px;
    background: rgba(255,255,255,.7);
    display: inline-block;
    padding-top: 5px;
}

#search_form {
  float: right;
  margin-top: -38px;
}	

#title_actual {
	background: url('/design/stetoscope_img.png');
	background-size: 40%;
	background-position: 70% 50%;
	background-repeat: no-repeat;
	padding-bottom: 30px;
	padding-top: 60px;
}

#title_popular {
	background: url('/design/magazines.jpg');
	background-size: 40%;
  	background-position: 54% 100%;
  	background-repeat: no-repeat;
	padding-bottom: 70px;
}

#title_categories {
	background: url('/design/bg-rules.gif');
	padding-bottom: 70px;
}

#title_categories > *{
	padding-left: 30%;
	padding-top: 2px;
}

.title_block > * {
	padding-left: 30%;
	padding-top: 50px;
}

.block_title {
	font-size: 30px;
	margin-left: 10px;
}

.white{
	color: #fff;
}

.block_title span{
	font-family: 'Lobster', cursive;
}

#stet_img {
	height:84px;
	float: left;
	background: url('/design/stetoscope.png') no-repeat;
	background-size: 70px;
	background-position: 100% 100%;
}

#check_img {
	height:84px;
	float: left;
	background: url('/design/check_mark.png') no-repeat;
	background-size: 70px;
	background-position: 100% 100%;
}

#ellipses_img {
	  height: 84px;
	  margin-right: 114px;
	  float: right;
	  background: url('/design/ellipses.png') no-repeat;
	  background-size: 70px;
	  background-position: 0% 19%;
}

.rect {
	  box-shadow: -6.5px 5.99px 10px 1px rgba( 0, 0, 0, .7 );
	  height: 27px;
	  margin: 10px 0 10px;
}
.rect span {
	display: inline-block;
	color: #fff;
	vertical-align: middle;
	margin-bottom: 17px;
  	margin-left: 10px;
  	float: right;
  	margin-top: 2px;
  margin-right: -70px;
}

#rate_rect1 {
	 background-color: rgb( 255, 70, 13 );
	 width: 50%;
}

#rate_rect2 {
  background-color: rgb( 232, 96, 12 );
 width: 40%;
}

#rate_rect3 {
  background-color: rgb( 255, 135, 0 );
	 width: 30%;
}

#rate_rect4 {
  background-color: rgb( 255, 194, 13 );
	 width: 25%;
}

#rate_rect5 {
  background-color: rgb( 232, 154, 12 );
	 width: 20%;
}

.eye_icon {
	margin-right: -30px;
	margin-top: 7px;
	float: right;
	display: inline-block;
	margin-left: 6px;
	width: 20px;
	height: 20px;
	background: url('/design/eye.png') no-repeat;
	background-size: 20px;
}

.separator_rate {
	float: right;
    width: 2px;
    height: 27px;
    background: rgb(255,255,255);
    display: inline-block;
    margin-right: 76px;
}

}