@import url(/style_mobile.css);
@import url(/style_desktop.css);

html {
	margin:0px;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: #000;
	font-size:16px;
	background-color:#fff;
	margin: 0px;
}

.clearfix:after {
	content : ".";
	visibility : hidden;
	display : block;
	height : 0;
	clear : both;
}

.search{
  margin-bottom: 2px;
  margin-top: 1px;
}

.search_img{
  margin: 2px 10px 0 -4px;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: top;
}

.search_input{
font-size: 11px;
  min-width: 113px;
  padding: 0;
  height: 15px;
  border: 1px #7a88e9 solid;
  border-right: none;
  border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  padding-left: 5px;
}

#title_actual {
	background: url('/design/stetoscope_img.png');
	background-size: 40%;
	background-position: 70% 50%;
	background-repeat: no-repeat;
	padding-bottom: 30px;
	padding-top: 60px;
}

.btn_center{
	text-align: center;
	margin: 20px 0 10px 0;
}

.content_button_header, .content_button_footer{
  display: inline;
  text-decoration: none;
  padding: 5px 12px 5px 12px;
  font-size: 18px;
}

.content_button_header, .content_button_footer, .category_button{
	cursor: pointer;
}
.content_button_header{
	border: 2px solid white;
	color: white;
}
.content_button_footer{
 	border: 2px solid black;
	color: black;
}
.content_button_header:hover{
	opacity: 0.92;
	background-color: white;
	color:black;
}
.content_button_footer:hover{
	opacity: 0.92;
	background-color: RGBA(101, 184, 227, 1);
	color:black;
}

.category_button{
	display: inline-block;
	border: 2px solid white;
 	text-align: center;
 	margin-left: 43%;
 	margin-top: 23px;
 	padding: 5px 12px 5px 12px !important;
 	color: white;
 	font-size: 18px;
}
.category_button:hover{
	opacity: 0.92;
	background-color: white;
	color: black;
}

#title_popular {
	background: url('/design/magazines.jpg');
	background-size: 40%;
  	background-position: 54% 100%;
  	background-repeat: no-repeat;
	padding-bottom: 70px;
}

#rate_lines, #articles_popular{
	float: left;
}

#rate_lines {
	width: 40%;
}

div#articles_popular {
	display:inline;
	padding-left: 10px;
	padding-top: 4px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}

#articles_popular a {
	border-bottom: 1px dashed blue;
	color:inherit;
	text-decoration:none;
}

#article1:hover, #article2:hover, #article3:hover, #article4:hover, #article5:hover {
	border-bottom: 1px dashed #000;
	color:blue;
}

#categories {
	background: url('/design/bg-rules.gif');
	padding-bottom: 26px;
}

#categories > *{
	padding-top: 2px;
}

#cat_title_block, #cat_block{
	margin-left: 24%;
}

#all-issues{
  background: url('/design/newsandpublications-left.jpg') no-repeat;
  background-size: 100%;
  background-position: 0% 80%;
  height: 254px;
}
#all-issues-title{
	padding-left: 61%;
	padding-top: 33px;
	color: white;
}

/*колонки номеров журналов по годам*/
#issues{
	padding-top: 50px;
}

/*---------------------------------------------------*/

/*Дeскрипшены внизу страницы*/
.credits{
	font-family: 'Open Sans';
	text-align: left;
	color: gray;
}
.credits h1{
	font-size: 17px;
}
.credits h2{
	font-size: 15px;
}
#footer{
	  border-top: 2px solid gray;
	  margin-top: 70px;
	  padding-left: 100px;
}

.title_block > * {
     padding-left: 30%;
     padding-top: 50px;
 }	

.block_title, #ellipses_img {
	font-size: 30px;
	margin-left: 10px;
	margin-top: 35px;
}

#cat_title{
	color: #fff;
	float: left;
}

.block_title span{
	font-family: 'Lobster', cursive;
}

#stet_img {
	height:84px;
	float: left;
	background: url('/design/stetoscope.png') no-repeat;
	background-size: 70px;
	background-position: 100% 100%;
}

#check_img {
	height:84px;
	float: left;
	background: url('/design/check_mark.png') no-repeat;
	background-size: 70px;
	background-position: 100% 100%;
}

#ellipses_img {
	display: block;
	  height: 33px;
  	width: 70px;
  	float: left;
	  background: url('/design/ellipses.png') no-repeat;
	  background-size: 70px;
	  background-position: 0% 100%;
	  margin-left: 30px;
}
#mag_img{
  height: 53px;
  width: 137px;
  margin-right: 16%;
  background: url('/design/mags.png') no-repeat;
  background-size: 87%;
  background-position: 9% 15%;
  float: right;
}

.rect {
	box-shadow: -6.5px 5.99px 10px 1px rgba( 0, 0, 0, .7 );
	height: 27px;
}

.rect span {
	display: inline-block;
	color: #fff;
	vertical-align: middle;
	margin-bottom: 17px;
  	margin-left: 10px;
  	float: right;
  	margin-top: 5px;
 	margin-right: -70px;
}
.appearRateInfo{
	-webkit-animation-name: appearNumbers;
    -webkit-animation-duration: 6s;
	animation-name: appearNumbers;
    animation-duration: 6s;
}

#rate_rect1{
	-webkit-animation: left_to_right1 4s;
	animation: left_to_right1 4s;
}

#rate_rect2{
	-webkit-animation: left_to_right2 4s;
	animation: left_to_right2 4s;
}

#rate_rect3{
	-webkit-animation: left_to_right3 4s;
	animation: left_to_right3 4s;
}

#rate_rect4{
	-webkit-animation: left_to_right4 4s;
	animation: left_to_right4 4s;
}

#rate_rect5{
	-webkit-animation: left_to_right5 4s;
	animation: left_to_right5 4s;
}

#rate_rect1 {
	background-color: rgb( 255, 70, 13 );
	width: 100%;
}

#rate_rect2 {
  	background-color: rgb( 232, 96, 12 );
 	width: 80%;
}

#rate_rect3 {
  	background-color: rgb( 255, 135, 0 );
	width: 60%;
}

#rate_rect4 {
  	background-color: rgb( 255, 194, 13 );
	width: 40%;
}

#rate_rect5 {
  	background-color: rgb( 232, 154, 12 );
	width: 29%;
}

#cat_block {
	display: inline-block;
	padding-left: 30px;
	margin-top: 15px;
	max-width: 44%;
}

.rect_cat {
	display: inline-block;
	color: #fff;
	font-size: 21px;
  	background-color: rgb( 104, 206, 248 );
  	padding: 5px 12px;
  	margin-top: 4px;
}

.rect_cat:hover, .rect:hover{
	opacity: 0.9;
}

.cat1 {
	background-color: rgb( 104, 206, 248 );
}

.cat2 {
  	background-color: rgb( 35, 160, 191 );
}

.cat3 {
	background-color: rgb( 23, 109, 140 );
}

.cat4 {
  	background-color: rgb( 20, 91, 117 );
}

.eye_icon {
	margin-right: -30px;
	margin-top: 7px;
	float: right;
	display: inline-block;
	margin-left: 6px;
	width: 20px;
	height: 20px;
	background: url('/design/eye.png') no-repeat;
	background-size: 20px;
}

.separator_rate {
	float: right;
    width: 2px;
    height: 27px;
    background: rgb(255,255,255);
    display: inline-block;
    margin-right: 76px;
}

.blue_bg {
    background : -moz-radial-gradient(50% -40.98%, circle farthest-corner, rgba(193, 220, 242, 1) 0%, rgba(181, 215, 240, 1) 7.03%, rgba(151, 203, 235, 1) 19.61%, rgba(101, 184, 227, 1) 36.27%, rgba(32, 157, 215, 1) 56.2%, rgba(30, 156, 215, 1) 56.74%, rgba(0, 117, 190, 1) 86.52%);
    background : -webkit-radial-gradient(50% -40.98%, circle farthest-corner, rgba(193, 220, 242, 1) 0%, rgba(181, 215, 240, 1) 7.03%, rgba(151, 203, 235, 1) 19.61%, rgba(101, 184, 227, 1) 36.27%, rgba(32, 157, 215, 1) 56.2%, rgba(30, 156, 215, 1) 56.74%, rgba(0, 117, 190, 1) 86.52%);
    background : -webkit-gradient(radial,50% -40.98% ,0 , 50% -40.98%, 1209.85 ,color-stop(0,rgba(193, 220, 242, 1) ),color-stop(0.0703,rgba(181, 215, 240, 1) ),color-stop(0.1961,rgba(151, 203, 235, 1) ),color-stop(0.3627,rgba(101, 184, 227, 1) ),color-stop(0.562,rgba(32, 157, 215, 1) ),color-stop(0.5674,rgba(30, 156, 215, 1) ),color-stop(0.8652,rgba(0, 117, 190, 1) ));
    background : -o-radial-gradient(50% -40.98%, circle farthest-corner, rgba(193, 220, 242, 1) 0%, rgba(181, 215, 240, 1) 7.03%, rgba(151, 203, 235, 1) 19.61%, rgba(101, 184, 227, 1) 36.27%, rgba(32, 157, 215, 1) 56.2%, rgba(30, 156, 215, 1) 56.74%, rgba(0, 117, 190, 1) 86.52%);
    background : -ms-radial-gradient(50% -40.98%, circle farthest-corner, rgba(193, 220, 242, 1) 0%, rgba(181, 215, 240, 1) 7.03%, rgba(151, 203, 235, 1) 19.61%, rgba(101, 184, 227, 1) 36.27%, rgba(32, 157, 215, 1) 56.2%, rgba(30, 156, 215, 1) 56.74%, rgba(0, 117, 190, 1) 86.52%);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Stlye=2);"
    background : radial-gradient(50% -40.98%, circle farthest-corner, rgba(193, 220, 242, 1) 0%, rgba(181, 215, 240, 1) 7.03%, rgba(151, 203, 235, 1) 19.61%, rgba(101, 184, 227, 1) 36.27%, rgba(32, 157, 215, 1) 56.2%, rgba(30, 156, 215, 1) 56.74%, rgba(0, 117, 190, 1) 86.52%);
    filter: progid:DXImageTransform.Microsoft.Alpha(Stlye=2);
}


.hidden{
	opacity:0;
}

.visible{
	opacity:1;
}

/*Анимация выезжания полосок рейтинга*/

@keyframes left_to_right1 {
	from {width: 0%;}
	to {width: 100%;}
}

@-webkit-keyframes left_to_right1{
	from {width: 0%;}
	to {width: 100%;}
}

@keyframes left_to_right2 {
	from {width: 0%;}
	to {width: 80%;}
}

@-webkit-keyframes left_to_right2 {
	from {width: 0%;}
	to {width: 80%;}
}

@keyframes left_to_right3 {
	from {width: 0%;}
	to {width: 60%;}
}

@-webkit-keyframes left_to_right3 {
	from {width: 0%;}
	to {width: 60%;}
}

@keyframes left_to_right4 {
	from {width: 0%;}
	to {width: 40%;}
}

@-webkit-keyframes left_to_right4 {
	from {width: 0%;}
	to {width: 40%;}
}

@keyframes left_to_right5 {
	from {width: 0%;}
	to {width: 29%;}
}

@-webkit-keyframes left_to_right5 {
	from {width: 0%;}
	to {width: 29%;}
}

/*Анимация появления счетчиков просмотров*/

@keyframes appearNumbers {
	0% {display:none; opacity: 0;}
	50% {display:none; opacity: 0;}
	100% {opacity: 1;}
}

@-webkit-keyframes appearNumbers {
	0% {display:none; opacity: 0;}
	50% {display:none; opacity: 0;}
	100% {opacity: 1;}
}

/*-----Страница О журнале--------*/
#title_about {
  background: url('/design/editors_glasses.jpg');
  background-size: 100%;
  background-position: 70% 50%;
  background-repeat: no-repeat;
  padding-bottom: 30px;
  padding-top: 60px;
  height: 212px;
}
.content_block, #title_separator, #pen_img, #info_img {
  float: left;
}

#title_separator {
  background: url('/design/doctor_write.jpg');
  background-size: 100%;
  background-position: 70% 69%;
  background-repeat: no-repeat;
  padding-bottom: 30px;
  padding-top: 30px;
  width: 100%;
  height: 172px;
}

#address_block {
  display: inline-block;
  padding: 10px;
  margin-top: 15px;
  margin-left: 30%;
  background: rgba(255,255,255, .7);
}

.content {
  padding: 24px 20% 24px 20%;
}

.content_block{
  margin: 17px;
  max-width: 45%;
}

.content_title {
  font-size: 22px;
  padding-bottom: 10px;
}

.content_block  .content_button_footer{
  margin: 15px 0 15px 0;
}

#pen_img {
  background: url(/design/pen.png) no-repeat;
  background-size: 74%;
  background-position: 0% 0%;
  height: 52px;
  width: 50px;
}

#info_img {
  background: url(/design/info.png) no-repeat;
  background-size: 74%;
  background-position: 0% 0%;
  height: 52px;
  width: 50px;
}